<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>ユーザー登録</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/Common.css}">
</head>

<body>
<h1 class="header__title">Mypage</h1>
	<div class="container mypage__wrapper">
		<button class="registration__btn" type = "button" onclick="location.href='/registration'">ユーザ登録</button>
		<button class="userList__btn" type = "button" onclick="location.href='/userList'">ユーザ一覧</button>
		<button class="expence__btn" type = "button" onclick="location.href='/expence'">経費登録</button>
		<button class="attendance__btn" type = "button" onclick="location.href='/attendance'">出勤登録</button>
	</div>
</body>
</html>