<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>ユーザー編集・削除</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/Common.css}">
<body class="userEdit__body">
	<header>
		<h1 class="header__title">ユーザー編集・削除</h1>
	</header>
	<section class="form">
		<div class="container">
			<div th:if = "${validationError}" th:each= "error: ${validationError}">
				<label th:text="${error}"></label>
			</div>
			<form th:action="@{/update}" th:object="${userRequest}" th:method="post">
				<dl class="from__list">
					<div class="form__up">
						<div class="form__item user_id">
							<dd>
								<label for="user_id">ユーザーID</label>
							</dd>
							<dt>
								<input class="userId_input" type="text" id="user_id" name="user_id" th:value = "*{user_id}"  readonly="readonly">
							</dt>
						</div>
						<div class="form__item mail">
							<dd>
								<label for="mail">メールアドレス</label>
							</dd>
							<dt>
								<input type="email" id="mail" name="mail" th:field = "*{mail}">
							</dt>
						</div>
						<div class="form__item name">
							<dd>
								<label for="name">名前</label>
							</dd>
							<dt>
								<input type="text" id="name" name="name" th:field = "*{name}">

							</dt>
						</div>
						<div class="form__item password">
							<dd>
								<label for="password">パスワード</label>
							</dd>
							<dt>
								<input type="password" id="password" name="password" th:field = "*{password}">
							</dt>
						</div>
						<div class="form__item furigana">
							<dd>
								<label for="furigana">フリガナ</label>
							</dd>
							<dt>
								<input type="text" id="furigana" name="furigana" th:field = "*{furigana}">
							</dt>
						</div>
						<div class="form__item create_date">
							<dd>
								<label for="create_date">更新日</label>
							</dd>
							<dt>
								<input type="date" id="create_date" name="create_date" th:field = "*{create_date}">
							</dt>
						</div>
					</div>
					<div class="form__down">
						<div class="container">
							<div class="form__down--wrapper">
								<button class="returnButton" type="button" onclick="location.href='/userList'">戻る</button>
								<button class="registerButton" type="submit">送信</button>
								<button class="deleteButton" type="button"><a th:href="@{/{user_id}/delete(user_id=*{user_id})}">削除</a></button>
							</div>
						</div>
					</div>
				</dl>
			</form>
		</div>
	</section>
</body>

</html>