<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>ユーザー登録</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/Common.css}">
</head>


<body class="userRegistration__body">
    <header>
        <h1 class="header__title">ユーザー登録</h1>
    </header>
    <section class="form">
        <div class="container">
        <div th:if = "${validationError}" th:each = "error: ${validationError}">
        	<label th:text = "${error}"></label>
        	<div th:if = "${validationError}"></div>
        </div>
            <form th:action="@{/create}" th:object="${userRequest}" th:method="post">
                <dl class="from__list">
                    <div class="form__up">
                        <div class="form__item user_id">
                            <dd>
                                <label for="user_id">ユーザーID</label>
                            </dd>
                            <dt>
                                <input type="text" id="user_id" name="user_id" placeholder="自動でidを作成致します" disabled >
                            </dt>
                        </div>
                        <div class="form__item mail">
                            <dd>
                                <label for="mail">メールアドレス</label>
                            </dd>
                            <dt>
                                <input type="email" id="mail" name="mail">
                            </dt>
                        </div>
                        <div class="form__item name">
                            <dd>
                                <label for="name">名前</label>
                            </dd>
                            <dt>
                                <input type="text" id="name" name="name">

                            </dt>
                        </div>
                        <div class="form__item password">
                            <dd>
                                <label for="password">パスワード</label>
                            </dd>
                            <dt>
                                <input type="password" id="password" name="password">
                            </dt>
                        </div>
                        <div class="form__item furigana">
                            <dd>
                                <label for="furigana">フリガナ</label>
                            </dd>
                            <dt>
                                <input type="text" id="furigana" name="furigana">
                            </dt>
                        </div>
                    </div>
                    <div class="form__down">
                        <div class="container">
                            <div class="form__down--wrapper">
                                <button type="button" onclick="location.href='/mypage'" class="returnButton">戻る</button>
                                <button class="registerButton" type="submit" value = "登録" >登録</button>
                            </div>
                        </div>
                    </div>
                </dl>
            </form>
        </div>
    </section>
</body>

</html>